
/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  --ion-background-color: #001F46;
  /* --ion-background-color-rgb: 0,31,70; */
}


.page-color
{
  --background: #001F46;

}

